


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(32, 32, 32);
    margin: 0px;
    width: 100%;
    min-height: 100%;
    font-family: 'Monaco', monospace;
    --backgroundColor : rgb(32, 32, 32);
    --primary-color: black;
    --secondary-color: gold;
    --tertiary-color: rgb(255, 187, 0);
    --item-spacing: 100px;
    overflow: scroll;
}
#nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 20px;
}
#nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 100px;

    transition: transform 0.3s ease, color 0.3s;
}
#nav a:hover{
    color: var(--secondary-color);
    transform: translate(0px, -10px);
}

#name{
    margin-right: auto;
}

#content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;  
}

.section{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: min(70%, 1000px);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 5px solid var(--secondary-color);
    padding: min(5%, 50px);

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: normal;

    #title{
        font-size: 2rem;
        animation: fadeIn 2s ease-out 1s 1 normal;
    }

    #underline{
        width: min(220px);
        height: 5px;
        background: var(--secondary-color);
        border-radius: 2px;
        animation: fadeIn 2s ease-out 1.3s 1 both;
    
    }

    #welcome{
        animation: fadeIn 2s ease-out 2s 1 both;
        font-size: 1.5rem;
    }
    #intro{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        margin-bottom: 200px;
        font-size: 1.5rem;
    }
    
    /*Road Map*/

    #roadmap-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
    }
    #timeline{
        display: grid;
        position: relative;
        grid-template-columns: 1fr 5px 1fr;
        grid-template-rows: 200px 270px 300px;
    
        .timeline-component{
            margin: 0px 20px 20px 20px;
        }
        .timeline-body{
            font-size: 1.5rem;
            padding: 1.5rem;
            border: 1px solid var(--secondary-color);
            border-radius: 10px;
            width: 100%;
        }
        .timeline-body-left{
            text-align: right;
        }
        .timeline-date-right{
            text-align: right;
        }
        .timeline-bar{
            display: inline-block;
            position:relative;
            background-color: var(--secondary-color);
        }
        .timeline-circle{
            position: absolute;
            top: 0;
            left: 50%;   
            transform: translateX(-50%); 
            width: 20px;
            height: 20px;
            background-color: var(--secondary-color);
            border-radius: 50%;
            border: 1px solid var(--secondary-color);

        }
        
        /* First Row - JAVA*/
        #java:hover .timeline-body{
            animation: expand-java 1s ease-out forwards;
        }

        #java-span:before{
            content:"Java"
        }
        #java:hover #java-span:before{
            content:"";
            animation: java-text 1s ease-out forwards;
        }

        /*Second Row - FIU*/
        #fiu:hover .timeline-body{
            animation: expand-fiu 1s ease-out forwards;
        }
        #fiu-span:before{
            content:"FIU";
        }
        #fiu:hover #fiu-span:before{
            content:"";
            animation: fiu-text 1s ease-out forwards;
        }

        /*Third Row - exposure*/
        #exposure:hover .timeline-body{
            animation: expand-exposure 1s ease-out forwards;
        }
        #exposure-span:before{
            content:"Exposure";
        }
        #exposure:hover #exposure-span:before{
            content:"";
            animation: exposure-text 1s ease-out forwards;
        }

        /*Fourth Row - webdev*/
        #webdev:hover .timeline-body{
            animation: expand-webdev 1s ease-out forwards;
        }
        #webdev-span:before{
            content:"Web Dev";
        }
        #webdev:hover #webdev-span:before{
            content:"";
            animation: webdev-text 1s ease-out forwards;
        }
        
        
        
        
        

    }
    

    
} 


#bubbles{
display:flex;
position:relative;
bottom: 0;
z-index: -100;
}
#bubbles span{
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 5px 10px var(--tertiary-color),
    0px 0px 10px 10px var(--secondary-color),
    0 0 100px var(--secondary-color);
    animation: animate 15s linear infinite;
    animation-duration: calc(150s/var(--i));
}

#bubbles span:nth-child(even){
    background-color: var(--tertiary-color);
    box-shadow: 0 0 5px 10px var(--secondary-color),
    0px 0px 10px 10px var(--tertiary-color),
    0 0 100px var(--tertiary-color);
}



/* Scrolling into View Animations */


.scrollInView{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
    margin-top: var(--item-spacing);
}

.scrollInView-active{
    transform: translateY(0);
    opacity: 1;
}

/* animations */

@keyframes animate{
    0%{
        transform: translateY(0vh) scale(1);
    }
    100%{
        transform: translateY(-300vh) scale(0);
    }
}
@keyframes scroll{
    0%{
        opacity: 0;
        transform: translateY(150px);
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(80vh);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes walk{

    from{
        
        background-position: 0px;
    }
    to{
        translate: 200px;
        background-position: -400px;
    }
    
}

/** Animations for hover effect of timeline/roadmap**/

@keyframes expand-java{
    0%{
        height: 100px;
    }
    100%{
        height: 180px;
    }
}

@keyframes java-text{
    0%{
        opacity: 1;
        content:"Java/C++";
    }
    50%{
        opacity: 0;
        content:"";
        font-size: 0.75rem;
    }
    
    
    100%{
        opacity: 1;
        font-size: 0.75rem;
        content:"Towards the end of my Associate's degree, I learned both Java and C++ at the University of the Bahamas.";
    }
}

@keyframes fiu-text{
    0%{
        opacity: 1;
        content:"FIU";
    }
    50%{
        opacity: 0;
        content:"";
        font-size: 0.75rem;
    }
    
    
    100%{
        opacity: 1;
        font-size: 0.75rem;
        content:"In August of 2020, I enrolled at Florida International University as a transfer student aiming to graduate with a Bachelor's degree in Computer Engineering.";
    }
}

@keyframes expand-fiu{
    0%{
        height: 100px;
    }
    100%{
        height: 250px;
    }
}


@keyframes exposure-text{
    0%{
        opacity: 1;
        content:"Exposure";
    }
    50%{
        opacity: 0;
        content:"";
        font-size: 0.75rem;
    }
    
    
    100%{
        opacity: 1;
        font-size: 0.75rem;
        content:"During the first two years of my time at FIU, I discovered my passion for software development. I took classes that gave me the opportunity to learn Java, C, and C++, and Python.";
    }
}

@keyframes expand-exposure{
    0%{
        height: 100px;
    }
    100%{
        height: 280px;
    }
}


@keyframes exposure-text{
    0%{
        opacity: 1;
        content:"Exposure";
    }
    50%{
        opacity: 0;
        content:"";
        font-size: 0.75rem;
    }
    
    
    100%{
        opacity: 1;
        font-size: 0.75rem;
        content:"During the first two years of my time at FIU, I discovered my passion for software development. I took classes that gave me the opportunity to learn Java, C, and C++, and Python.";
    }
}


@keyframes webdev-exposure{
    0%{
        height: 100px;
    }
    100%{
        height: 280px;
    }
}


@keyframes webdev-text{
    0%{
        opacity: 1;
        content:"Exposure";
    }
    50%{
        opacity: 0;
        content:"";
        font-size: 0.75rem;
    }
    
    
    100%{
        opacity: 1;
        font-size: 0.75rem;
        content:"During the first two years of my time at FIU, I discovered my passion for software development. I took classes that gave me the opportunity to learn Java, C, and C++, and Python.";
    }
}





/** Media Queries **/

@media screen and (max-width: 600px){
    .section{
        font-size: 0.75rem;
    }

    .section #timeline{
        grid-template-columns: 5px 1fr;
        grid-template-rows: 20px 230px 20px 350px 20px 400px;

        /*First Row*/
        #bar-1{
            grid-row: 1/3;
            grid-column: 1/2;
        }
        #jan2020{
            grid-row: 1/2;
            grid-column: 2/3;
            text-align: left;
        }
        .timeline-date .timeline-date-right{
            text-align: left;
        }
        #java{
            grid-row: 2/3;
            grid-column: 2/3;
        }
        #java:hover .timeline-body{
            animation: expand-java-mobile 1s ease-out forwards;
        }

        #java-span:before{
            content:"Java"
        }
        #java:hover #java-span:before{
            content:"";
            animation: java-text-mobile 1s ease-out forwards;
        }
        /*Second Row*/
        #bar-2{
            grid-row: 3/5;
            grid-column: 1/2;
        }
        #aug2020{
            grid-row: 3/4;
        }
        #fiu{
            grid-row: 4/5;
            grid-column: 2/3;
        }
        #fiu:hover .timeline-body{
            animation: expand-fiu-mobile 1s ease-out forwards;
        }
        #fiu-span:before{
            content:"FIU"
        }
        #fiu:hover #fiu-span:before{
            content:"";
            animation: fiu-text-mobile 1s ease-out forwards;
        }
        /*Third Row*/
        #bar-3{
            grid-row: 5/7;
            grid-column: 1/2;
        }
        #_2021{
            grid-row: 5/6;
        }
        #exposure{
            grid-row: 6/7;
            grid-column: 2/3;
        }
        #exposure:hover .timeline-body{
            animation: expand-exposure-mobile 1s ease-out forwards;
        }
        #exposure-span:before{
            content:"Exposure"
        }
        #exposure:hover #exposure-span:before{
            content:"";
            animation: exposure-text-mobile 1s ease-out forwards;
        }

    }


    /*Animations for Timeline within media query*/

    @keyframes expand-java-mobile{
        0%{
            height: 100px;
        }
        100%{
            height: 210px;
        }
    }
    
    @keyframes java-text-mobile{
        0%{
            opacity: 1;
            content:"Java/C++";
        }
        50%{
            opacity: 0;
            content:"";
            font-size: 0.75rem;
        }
        
        
        100%{
            opacity: 1;
            font-size: 0.75rem;
            content:"Towards the end of my Associate's degree, I learned both Java and C++ at the University of the Bahamas.";
        }
    }


@keyframes fiu-text-mobile{
    0%{
        opacity: 1;
        content:"FIU";
    }
    50%{
        opacity: 0;
        content:"";
        font-size: 0.6rem;
    }
    
    
    100%{
        opacity: 1;
        font-size: 0.75rem;
        content:"In August of 2020, I enrolled at Florida International University as a transfer student aiming to graduate with a Bachelor's degree in Computer Engineering.";
    }
}

@keyframes expand-fiu-mobile{
    0%{
        height: 100px;
    }
    100%{
        height: 330px;
    }
}


@keyframes exposure-text-mobile{
    0%{
        opacity: 1;
        content:"Exposure";
    }
    50%{
        opacity: 0;
        content:"";
        font-size: 0.75rem;
    }
    
    
    100%{
        opacity: 1;
        font-size: 0.75rem;
        content:"During the first two years of my time at FIU, I discovered my passion for software development. I took classes that gave me the opportunity to learn Java, C, and C++, and Python.";
    }
}

@keyframes expand-exposure-mobile{
    0%{
        height: 100px;
    }
    100%{
        height: 380px;
    }
}


    @keyframes exposure-text{
        0%{
        opacity: 1;
        content:"Exposure";
        }
        50%{
        opacity: 0;
        content:"";
        font-size: 0.75rem;
    }
    
    
        100%{
            opacity: 1;
            font-size: 0.75rem;
            content:"During the first two years of my time at FIU, I discovered my passion for software development. I took classes that gave me the opportunity to learn Java, C, and C++, and Python.";
        }
    }
}